{% extends "notebook/base.html" %}
{% block title %}Contact list{% endblock title %}
{% block content %}
{% if contacts %}
  <ul>
  {% for contact in contacts %}
    <li>
      <ul>
        <li><strong>First name :</strong> {{ contact.first_name }}</li>
        <li><strong>Last name :</strong> {{ contact.last_name }}</li>
        <li><strong>Birthday :</strong> {{ contact.birthday|date:"SHORT_DATE_FORMAT" }}</li>
      </ul>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No Contacts.</p>
{% endif %}
{% endblock content %}
